-if @quote_request.errors.any?
  %div.row.alert-box.alert{"data-alert" => ""}
    = t(@quote_request.errors.full_messages.first)
    %a.close{:href => "#"} &times;

=simple_form_for @quote_request,  html: {multipart: true} do |f|
  .row
    .large-4.columns
      =f.text_field :name, label: false,
          placeholder: QuoteRequest.human_attribute_name('name'),
          title: QuoteRequest.human_attribute_name('tooltip_name'),
          "data-tooltip" => "",
          "aria-haspopup" => true
    .large-4.columns
      =f.text_field :email, label: false,
          placeholder: QuoteRequest.human_attribute_name('email'),
          title: QuoteRequest.human_attribute_name('tooltip_email'),
          "data-tooltip" => "",
          "aria-haspopup" => true
    .large-4.columns
      =f.text_field :phone, label: false,
        placeholder: QuoteRequest.human_attribute_name('phone'),
        title: QuoteRequest.human_attribute_name('tooltip_phone'),
        "data-tooltip" => "",
        "aria-haspopup" => true
  .row
    .large-4.columns
      =f.text_field :company_name, required: false, label: false,
        placeholder: QuoteRequest.human_attribute_name('company_name'),
        title: QuoteRequest.human_attribute_name('tooltip_company_name'),
        "data-tooltip" => "",
        "aria-haspopup" => true
    -#.large-4.columns
    -#  =f.text_field :url, required: false, label: false,
    -#    placeholder: QuoteRequest.human_attribute_name('url'),
    -#    title: QuoteRequest.human_attribute_name('tooltip_url'),
    -#    "data-tooltip" => "",
    -#    "aria-haspopup" => true
    .large-4.columns
      %label.file_upload
        %i.icon.icon-cloud-upload
        %mark
          =t 'activerecord.attributes.quote_request.file_label'
        =file_field_tag 'quote_request[file]'
    .large-4.columns
  -#.row
  -#  .large-12.columns.form-section-title
  -#    =t 'activerecord.attributes.quote_request.hours_label'
  -#.row
  -#  .large-12.columns
  -#    .range-slider.round{:data => {:slider => true, :options=> "display_selector: #hoursOutput; end: 275; initial: 125;"}}
  -#      %span.range-slider-handle{:role => "slider", :tabindex => 0}
  -#        %var#hoursOutput
  -#        ч.
  -#      %span.range-slider-active-segment
  -#      %input{:type => "hidden"}
  -#.row
  -#  -12.times do |range|
  -#    .small-1.columns.text-center
  -#      =range*25
  .row
    .large-12.columns.form-section-title
      =QuoteRequest.human_attribute_name('description')
  .row
    .large-12.columns
      =f.text_area :description
  .row
    .large-12.columns.form-section-title
      =t 'activerecord.attributes.quote_request.needs_label'
  .row
    -["design", "development", "promo"].each do |need|
      .large-4.small-4.columns
        = check_box_tag 'quote_request[needs][]', need, @quote_request.needs.include?(need), id: "services-#{need}", class: "checkbox"
        %label{:for => "services-#{need}"}
          =t "activerecord.attributes.quote_request.need_#{need}"
  .row
    .large-12.columns.text-center
      =f.submit t(:send_quote_request_button), class: 'button'