%h1 Listing quote_requests

- @quote_requests.each do |quote_request|
  .row
    .large-12.columns
      =quote_request.attributes
      %br
      = link_to 'Destroy', quote_request, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "button"