%section.full-width.success.zebra-bg.full-height
  .row
    .large-12.columns.text-center
      %h1
        =t :quote_request_success_title
      %p
        =t :quote_request_success_text
        %br
        %br
        =link_to t(:go_home_link), root_path, class: "button"