%section.full-width.about_company#about-company{"data-magellan-destination" => "about-company"}
  .row.text-center.full-width
    .large-12.columns
      .row
        .large-12.columns.text-center
          %h2
            =t('about_company.title')
          %p
            =t('about_company.text').html_safe
      .row
        .slider
          -[ "anadolu", "auchan", "bolshoi", "good-food", "just-for-you", "mitsubishi", "philips", "sony", "wwf" ].each do |img|
            .our_friends_logo
              %img{"src"=>"assets/friends/central-images/#{img}-min.jpg", "alt" => ""}

      .row.last-line

