.chat-example
  .wrapper
    .sidebar
      %ul.chat-contacts
        %li.contacts-item.js-contacts-item.active(data-dialog="0")
          .image-holder
            =image_tag("/assets/avatars/1-min.png", {"alt" => ""})
          .contact
            %p.contact-name
              =t("chats.bot1.contact-name")
            %p.contact-status
              Online
        %li.contacts-item.js-contacts-item(data-dialog="1")
          .image-holder
            =image_tag("/assets/avatars/2-min.png", {"alt" => ""})
          .contact
            %p.contact-name
              =t("chats.bot2.contact-name")
            %p.contact-status
              Online
        %li.contacts-item.js-contacts-item(data-dialog="2")
          .image-holder
            =image_tag("/assets/avatars/3-min.png", {"alt" => ""})
          .contact
            %p.contact-name
              =t("chats.bot3.contact-name")
            %p.contact-status
              Online
    .content
      .container.js-container