%section.full-width.contacts#contacts{"data-magellan-destination" => "contacts"}
  #map-ulianovsk.map-canvas.active
  #map-london.map-canvas
  #map-moscow.map-canvas
  #contacts-container.white
    .row
      .large-12
        %h2.white.text-center
          =t ("contacts.title")
    .row.text-center.full-width
      .large-3.small-3.columns.contact-blocks
        .contact-block
          %b
            =t ("contacts.lo.city")
          %br
          =t ("contacts.lo.phone")
          %br
          =t ("contacts.lo.email")

        .contact-block
          %b
            =t ("contacts.mo.city")
          %br
          =t ("contacts.mo.address")
          %br
          =t ("contacts.mo.phone")
          %br
          =t ("contacts.mo.email")
          %br
          %a.show-on-map.hide-for-small-only(data-name="moscow"
          data-map="map-moscow"
          data-latlng='{"latitude":"55.708551","longitude":"37.653338"}'
          data-center='{"latitude":"55.711551","longitude":"37.638338"}'
          )
            =t ("contacts.show_on_map")
        .contact-block
          %b
            =t ("contacts.ul.city")
          %br
          =t ("contacts.ul.address")
          %br
          =t ("contacts.ul.phone")
          %br
          =t ("contacts.ul.email")
          %br
          %a.show-on-map.active.hide-for-small-only(data-name="ulianovsk"
          data-map="map-ulianovsk"
          data-latlng='{"latitude":"54.344703","longitude":"48.371977"}'
          data-center='{"latitude":"54.344503","longitude":"48.371977"}'
          )
            =t ("contacts.show_on_map")
        .large-9.small-9.columns
