%section.full-width.how-we-work#how-we-work
  .row.text-center
    .large-12.columns
      %h2
        =t('steps_block.title')
      %p
        =t('steps_block.text').html_safe
  .row.text-center.ticket-steps
    .ticket-step.large-4.small-6.columns
      %i.icon.icon-statement.red
      %i.icon.icon-angle-right.show-for-large-only
      %h3
        %span.base
          01.
        %span.black
          =t('steps_block.1_title')
      %small
        =t('steps_block.1_text')
    .ticket-step.large-4.small-6.columns
      %i.icon.icon-performance.red
      %i.icon.icon-angle-right.show-for-large-only
      %h3
        %span.base
          02.
        %span.black
          =t('steps_block.2_title')
      %small
        =t('steps_block.2_text')
    .ticket-step.large-4.small-6.columns
      %i.icon.icon-work.red
      %h3
        %span.base
          03.
        %span.black
          =t('steps_block.4_title')
      %small
        =t('steps_block.3_text')
    .ticket-step.large-4.large-offset-2.small-6.columns
      %i.icon.icon-verification.red
      %i.icon.icon-angle-right.show-for-large-only
      %h3
        %span.base
          04.
        %span.black
          =t('steps_block.5_title')
      %small
        =t('steps_block.5_text')
    .ticket-step.large-4.small-6.end.columns
      %i.icon.icon-case.red
      %h3
        %span.base
          05.
        %span.black
          =t('steps_block.6_title')
      %small
        =t('steps_block.6_text')

  %br
  %br
  .row.text-center
    .large-12
      = link_to t(:get_activity_button), new_quote_request_path, class: "button"