%section.zebra-road-bg.full-screen#zebra-road-bg{"data-magellan-destination" => "zebra-road-bg"}
  %h3.logo.text-center
    =link_to root_path do
      %i.icon.icon-zebrains
      Zebrains
  .row
    .large-12.text-center.white.slogan-container
      %h1
        =t(:slogan_tite).html_safe
      %p
        =t(:welcome_text).html_safe

  .row
    .span

  .get-btn-container
    .text-center
      =link_to t(:get_quote_button1), new_quote_request_path, class: "button"

  #scroll-down.text-center
    =link_to "#what-we-do" do
      %i.icon.icon-mouse.bounce
      -#%br
      -#=t :scroll_down

.full-width
  = render "layouts/index_magellan_navigation"