%section.our-plans{"data-magellan-destination" => "our-plans"}
  %a{"name" => "our-plans"}
  .row.text-center
    .large-12.columns
      %h2
        =t('our_plans.title')
      %p=t('our_plans.text').html_safe
  .row{"data-equalizer" => ''}

    .large-4.columns
      %ul.pricing-table.smoke-bg{"data-equalizer-watch" => ''}
        %li.title
          =t("our_plans.business.title")
        %li.description
          =t("our_plans.business.descr")
        %li.price
          .price__block.text-right
            .price__text.price__text--big.red
              = t('price.currency').html_safe if I18n.locale != :ru
            .price__text.price__text--small
              =t 'price.from'
          .price__cost.red
            = t 'our_plans.business.price'
          .price__block.text-left
            .price__text.price__text--big.red
              =t(I18n.locale != :ru ? 'price.cost_zero' : 'price.currency').html_safe
            .price__text.price__text--small
              =t 'price.monthly'
        %li.bullet-item
          =t("our_plans.business.hours")
        %li.bullet-item
          =t("our_plans.business.hourly_cost").html_safe
        %li.bullet-item
          =t("our_plans.business.advantage_1")
        %li.bullet-item
          =t("our_plans.business.advantage_2")
        %li.cta-button
          =link_to t(:buy_it_button), new_quote_request_path, class: "button secondary"

    .large-4.columns
      %ul.pricing-table{"data-equalizer-watch" => ''}
        %li.title
          %div.recomended.text-center
            %span.alert.label
              =t :recomended
          =t("our_plans.standart.title")
        %li.description
          =t("our_plans.standart.descr")
        %li.price
          .price__block.text-right
            .price__text.price__text--big.red
              = t('price.currency').html_safe if I18n.locale != :ru
            .price__text.price__text--small
              =t 'price.from'
          .price__cost.red
            = t 'our_plans.standart.price'
          .price__block.text-left
            .price__text.price__text--big.red
              =t(I18n.locale != :ru ? 'price.cost_zero' : 'price.currency').html_safe
            .price__text.price__text--small
              =t 'price.monthly'
        %li.bullet-item
          =t("our_plans.standart.hours")
        %li.bullet-item
          =t("our_plans.standart.hourly_cost").html_safe
        %li.bullet-item
          =t("our_plans.standart.advantage_1")
        %li.bullet-item
          =t("our_plans.standart.advantage_2")
        %li.cta-button
          =link_to t(:buy_it_button), new_quote_request_path, class: "button"

    .large-4.columns
      %ul.pricing-table.smoke-bg{"data-equalizer-watch" => ''}
        %li.title
          =t("our_plans.start.title")
        %li.description
          =t("our_plans.start.descr")
        %li.price
          .price__cost.price__cost--free
            %span.red
              =t 'price.free'
            %span.base
              *
        %li.bullet-item
          =t("our_plans.start.hours")
        %li.bullet-item
          =t("our_plans.start.hourly_cost").html_safe
        %li.bullet-item
          =t("our_plans.start.advantage_1")
        %li.bullet-item
          =t("our_plans.start.advantage_2")
        %li.cta-button
          =link_to t(:buy_it_button), new_quote_request_path, class: "button secondary"
  .row.text-center
    .large-12.columns
      =t("our_plans.note_1").html_safe