%section.full-width.technology#technology{"data-magellan-destination" => "technology"}
  .row.full-width
    .large-8.small-12.columns.sla-block
      %h2.white.text-center
        =t('technology_block.title')
      =render "chat_example"

    .large-4.small-12.columns
      .row.we_can_section
        .large-12.columns
          .text-center
            %h2
              =t('we_can_block.title')
        .large-8.large-centered.columns
          .row.text-center
            - {'telegram': 'Telegram', 'skype': 'Skype', 'slack': 'Slack', 'whatsapp':'WhatsApp', 'wechat':'Wechat', 'snapchat':'Snapchat', 'viber':'Viber', 'line': 'Line', 'facebook_messenger': 'Facebook Messenger'}.each do |key, name|
              .large-4.small-4.columns.left.we_can_logo
                =image_tag "/assets/we_can_logos/#{key}-min.png", alt: "", class: "messenger-icon"
                %span
                  =name