%section.full-width.who-we-are#what-we-do{"data-magellan-destination" => "what-we-do"}
  .row.text-center
    .large-12.columns
      %h2
        =t :what_we_do_title
      %p
        =t(:what_we_do_text).html_safe
  .row.text-center.activities
    .large-4.small-6.columns
      = link_to services_path do
        %i.icon.icon-design>
        %br
        =t :activity_design
      %div.column-text>=t :activity_design_text

    .large-4.small-6.columns
      = link_to services_path do
        %i.icon.icon-coding>
        %br
        =t :activity_coding
      %div.column-text>=t :activity_coding_text

    .large-4.small-12.columns
      = link_to services_path do
        %i.icon.icon-promo>
        %br
        =t :activity_promo
      %div.column-text>=t :activity_promo_text
  .row.text-center
    .large-12
      = link_to t(:get_activity_button), new_quote_request_path, class: "button"