%section.contact_us.full-height.zebra-bg
  %h1.text-center
    =t :contact_us_title
  =simple_form_for QuoteRequest.new do |f|
    .row
      .large-6.large-centered.small-12.columns
        =f.text_field :name, label: false,
            placeholder: QuoteRequest.human_attribute_name('name'),
            title: QuoteRequest.human_attribute_name('tooltip_name'),
            "data-tooltip" => "",
            "aria-haspopup" => true
    .row
      .large-6.large-centered.small-12.columns
        =f.text_field :email, label: false,
            placeholder: QuoteRequest.human_attribute_name('email'),
            title: QuoteRequest.human_attribute_name('tooltip_email'),
            "data-tooltip" => "",
            "aria-haspopup" => true
    .row
      .large-6.large-centered.small-12.columns
        =f.text_field :phone, label: false,
          placeholder: QuoteRequest.human_attribute_name('phone'),
          title: QuoteRequest.human_attribute_name('tooltip_phone'),
          "data-tooltip" => "",
          "aria-haspopup" => true
    .row
      .large-6.large-centered.small-12.columns.form-section-title
        =QuoteRequest.human_attribute_name('description')
    .row
      .large-6.large-centered.small-12.columns
        =f.text_area :description
    .row
      .large-12.columns.text-center
        =f.submit t(:send_quote_request_button), class: 'button'
