- content_for(:navigation) do
  %div

=render "main"
=render "what_we_do"
=render "why_you_need"
=render "technology"
=render "how_we_work"
=render "contacts"
=render "about_company"
-#=render "we_are"
