- content_for(:navigation) do
  %div
%section.zebra-road-bg.full-height
  .row
    .large-12.text-center
      %h3.logo
        =link_to root_path do
          %i.icon.icon-zebrains
          %br
          Zebrains
  .row
    .large-12.text-center.white
      %h1
        =t :slogan_tite
      %p
        =t(:welcome_text).html_safe
      .price
        .price-right
          .p-big.red
            $
          .p-small.white
            from
        .price-big.red
          7
        .price-left
          .p-big.red
            00
          .p-small.white
            \/ в месяц
  .row
    .large-12.text-center
      =link_to t(:get_quote_button), "support", class: "button"
  
  #scroll-down.text-center
    =link_to "support" do
      %i.icon.icon-mouse
      %br
      =t :scroll_down
.full-width
  =render('layouts/navigation')
%section.full-width.who-we-are
  .row.text-center
    .large-12.columns
      %h2
        =t :who_we_are_title
      =t :who_we_are_text
  .row.text-center.activities
    .large-4.columns
      = link_to "support" do
        %i.icon.icon-coding>
        %br
        =t :activity_coding
    .large-4.columns
      = link_to "support" do
        %i.icon.icon-design>
        %br
        =t :activity_design
    .large-4.columns
      = link_to "support" do
        %i.icon.icon-promo>
        %br
        =t :activity_promo
  .row.text-center
    .large-12
      = link_to "support", class: "button" do
        =t :get_quote_button
%section.full-width.technology
  .row
    .large-6.columns
      %h2.white
        =t :sla_time_title
      .sla-item>
        .sla-value>
          %i.icon.icon-less>
          6
          %span.sla-zero>
            0
          %span.sla-min>
            мин
        .sla-descr
          =t :sla_time_to_quote
      .sla-item>
        .sla-value>
          %i.icon.icon-less>
          3
          %span.sla-zero>
            0
          %span.sla-min>
            min
        .sla-descr
          =t :sla_time_to_answer
      .sla-item>
        .sla-value>
          %i.icon.icon-less>
          6
          %span.sla-zero>
            0
          %span.sla-min>
            min
        .sla-descr
          =t :sla_time_to_reg
    .large-6.columns
      %h2
        =t :what_we_can_title
      TEXT
%section.full-width.how-we-work
  .row.text-center
    .large-12.columns
      %h2
        =t :how_we_work_title
      =t :how_we_work_text
  .row.text-center.ticket-steps
    .ticket-step.large-3.columns
      %i.icon.icon-statement.red
      %i.icon.icon-angle-right
      %h3
        %span.base
          01.
        %span.black
          Register
      %small
        some text
    .ticket-step.large-3.columns
      %i.icon.icon-performance.red
      %i.icon.icon-angle-right
      %h3
        %span.base
          02.
        %span.black
          Quote
      %small
        some text
    .ticket-step.large-3.columns
      %i.icon.icon-verification.red
      %i.icon.icon-angle-right
      %h3
        %span.base
          03.
        %span.black
          text
      %small
        text
    .ticket-step.large-3.columns
      %i.icon.icon-work.red
      %h3
        %span.base
          04.
        %span.black
          text
      %small
        text
    .ticket-step.large-3.large-offset-3.columns
      %i.icon.icon-work.red
      %i.icon.icon-angle-right
      %h3
        %span.base
          04.
        %span.black
          text
      %small
        text
    .ticket-step.large-3.end.columns
      %i.icon.icon-work.red
      %h3
        %span.base
          04.
        %span.black
          text
      %small
        text
%section.full-width.our-capacity
  .row.text-center
    .large-12.columns
      %h2.white
        =t :who_we_are_title
  .row.text-center
    .large-12.columns
      .progress
        .meter{style: "width: 70%"}
  .row.text-center
    .large-12.columns
      .hours-for-sale
        300
        %span
          =t(:hours_for_sale_text).html_safe
  .row.text-center
    .large-12.columns
      = link_to "support", class: "button secondary" do
        =t :get_quote_button
%section.our-plans
  .row.text-center
    .large-12.columns
      %h2
        =t :our_plans_title
      =t :our_plans_text
  .row{"data-equalizer" => ''}
    .large-4.columns
      %ul.pricing-table.smoke-bg{"data-equalizer-watch" => ''}
        %li.title
          =t :business_plan_title
    .large-4.columns
      %ul.pricing-table{"data-equalizer-watch" => ''}
        %li.title
          %div.recomended.text-center
            %span.alert.label
              =t :recomended
          =t :standart_plan_title
        %li.description
          =t :standart_plan_descr
        %li.price
          .price-right
            .p-big.red
              $
            .p-small
              from
          .price-big.red
            7
          .price-left
            .p-big.red
              00
            .p-small
              \/ в месяц
        %li.bullet-item
          Unlimited
        %li.bullet-item
          24/7
        %li.cta-button
          =link_to t(:buy_it_button), "support", class: "button"
    .large-4.columns
      %ul.pricing-table.smoke-bg{"data-equalizer-watch" => ''}
        %li.title
          =t :start_plan_title
        %li.description
          =t :start_plan_descr
        %li.price
          .red
            Free
            %span.base
              *
        %li.cta-button
          =link_to t(:buy_it_button), "support", class: "button secondary"

