%section.full-width
  .row.text-center
    .large-12.columns
      %h1
        =t :services_title
      %p=t('services_text').html_safe
%section.full-width.services.zebra-bg
  .row
    .medium-6.columns
      %h2
        =t :service_design_title
      %p
        =t('service_design_text').html_safe
    .medium-6.columns
      = image_tag("service-design.jpg", class: "service-image show-for-medium-up")
%section.full-width.services
  .row
    .medium-6.columns
      = image_tag("service-coding.jpg", class: "service-image show-for-medium-up")
    .medium-6.columns
      %h2
        =t :service_coding_title
      %p
        =t('service_coding_text').html_safe
%section.full-width.services.zebra-bg
  .row
    .medium-6.columns
      %h2
        =t :service_promo_title
      %p
        =t('service_promo_text').html_safe
    .medium-6.column
      = image_tag("service-promo.jpg", class: "service-image show-for-medium-up")