$grey: #969696;
$blue: #84B7DD;
$green: #6AC24B;
$white: #FFF;
$font-family_1: arial;
$orange: #f65823;

/* message styles */
.chat-example {
  div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    //font-size: 62.5%;
    font-family: arial !important;
    vertical-align: baseline;
  }
  ol, ul {
    list-style: none;
    font-size: 0rem;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '' !important;
    content: none !important;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  //width: 100%;
  height: 330px;
  .wrapper {
    height: 100%;
    width: 95%;
    .sidebar {
      //background: #fcfcfc;
      //display: inline-block;
      vertical-align: top;
      height: 100%;
      width: 30%;
      border-right: 1px solid $smoke;

      .chat-contacts {
        .contacts-item {
          overflow: hidden;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0.4rem 0.4rem 0.4rem 0.4rem;
          //background-color: #FFF;
          cursor: pointer;
          -webkit-transition: background-color 0.3s ease, box-shadow 0.3s ease;
          -moz-transition: background-color 0.3s ease, box-shadow 0.3s ease;
          -ms-transition: background-color 0.3s ease, box-shadow 0.3s ease;
          -o-transition: background-color 0.3s ease, box-shadow 0.3s ease;
          transition: background-color 0.3s ease, box-shadow 0.3s ease;
          &:hover {
            //background: #c2d4de;
            //-webkit-box-shadow: inset 0 0 2rem #fcfcfc;
            //box-shadow: inset 0 0 2rem #fcfcfc;
            border-left: 2px solid $orange !important;
          }
          &.active {
            //background: #c2d4de;
            //-webkit-box-shadow: inset 0 0 2rem #fcfcfc;
            //box-shadow: inset 0 0 2rem #fcfcfc;
            border-left: 2px solid $red;
          }
          .image-holder {
            float: left;
            width: 4.4rem;
            height: 4.4rem;
            -webkit-border-radius: 100%;
            border-radius: 100%;
            background: #000;
            margin-right: 0.6rem;
          }
          .contact {
            overflow: hidden;
            margin-right: 1rem;
            display: initial;
            .contact-status {
              color: $grey;
              font-size: 0.86rem;
            }
            .contact-name {
              color: $white;
            }
            p {
              font-size: 1rem;
              margin: 0.6rem 0;
              line-height: 1;
              white-space: nowrap;
            }
          }
        }
      }
    }
    .content {
      display: inline-block;
      vertical-align: top;
      height: 100%;
      position: relative;
      .container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 98%;
        max-height: 100%;
        height: 330px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 0.63rem;
        -ms-overflow-y: auto;
        overflow: hidden;

        .message {
          overflow: hidden;
          margin: 0 0 1.5rem 0;
          font-size: 1.4rem;
          max-width: 70%;
          min-width: 157px;
          //min-width: 160px;
          clear: both;
          .contact-image {
            max-width: 6rem;
            max-height: 6rem;
            -webkit-border-radius: 100%;
            border-radius: 100%;
            display: inline-block;
            vertical-align: top;
          }
          .message-holder {
            background: #FFF;
            -webkit-border-radius: 1.0rem 1rem 1rem 0;
            border-radius: 1.0rem 1rem 1rem 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0.6rem 0.4rem 1rem 0.6rem;
            position: relative;
            min-height: 4rem;
            min-width: 9rem;
            .name {
              font-size: 1.1rem;
              margin-bottom: 0.5rem;
              white-space: nowrap;
            }
          }
          .message-info {
            line-height: 1.3;
            color: $black;
            font-size: 0.9rem;
            padding-bottom: 1rem;
          }
          .time {
            position: absolute;
            bottom: 0.5rem;
            right: 0.5rem;
            font-size: 0.9rem;
          }
          img {
            max-width: 100%;
          }
          .news {
            border-left: 0.2rem solid #6AC24B;
            padding: 0.2rem 0 0.1rem 0.2rem;
            margin-top: 0.3rem;
            .news-resource {
              color: $green;
              margin-bottom: 0.3rem;
              font-weight: bold;
            }
            .news-title {
              color: $black;
              margin-bottom: 0.1rem;
              font-weight: bold;
              font-size: 80%;
            }
            .news-preview {
              font-size: 75%;
            }
            .preview {
              width: 4.4rem;
              height: 4.4rem;
              -webkit-background-size: contain;
              -o-background-size: contain;
              background-size: contain;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              float: right;
              margin: 0 0 0.2rem 0.2rem;
            }
          }
        }
        .message.left {
          float: left;
          padding-left: 0.8rem;
          .message-holder {
            -webkit-border-radius: 1.0rem 1rem 1rem 0;
            border-radius: 1.0rem 1rem 1rem 0;
            &:before {
              content: '';
              position: absolute;
              bottom: 0;
              right: 100%;
              width: 0;
              height: 0;
              border: 0.5rem solid transparent;
              border-right: 0.1rem solid #fff;
              border-bottom: 1rem solid #fff;
            }
            .name {
              color: $red;
            }
          }
          .contact-image {
            background-color: #FFF;
            width: 4.4rem;
            height: 4.4rem;
            margin: 0 1rem 1rem 0;
          }
          .contact-image + .message-holder {
            display: inline-block;
            vertical-align: top;
            width: calc(100% - 5.8rem);
            position: relative;
          }
          .time {
            color: $red;
          }
        }
        .message.right {
          float: right;
          padding-right: 0.8rem;
          .message-holder {
            -webkit-border-radius: 1.0rem 1rem 0 1rem;
            border-radius: 0.55rem 0.55rem 0 0.55rem;
            &:before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 100%;
              width: 0;
              height: 0;
              border: 0.5rem solid transparent;
              border-left: 0.1rem solid #fff;
              border-bottom: 1rem solid #fff;
            }
            .name {
              color: $blue;
            }
          }
          .time {
            color: $blue;
          }
        }
      }
    }
  }
}

@media #{$medium-up} {
  .wrapper {
    .sidebar {
      display: inline-block;
    }

    .content {
      width: 68%;
    }
  }
}

@media #{$small-only} {
  .wrapper {
    .sidebar {
      display: none;
    }

    .content {
      width: 100%;
    }
  }
}
