// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
  height: 100%;
  min-height: 100%;
}

//CUSTOM CLASSES
#main {
  height: 100%;
  min-height: 100%;
}

::selection {
  background: $red; /* WebKit/Blink Browsers */
  color: $white;
}

::-moz-selection {
  background: $red; /* Gecko Browsers */
  color: $white;
}

main > section {
  padding: rem-calc(70) 0;
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.full-screen {
  height: 100vh;
}

.full-height {
  min-height: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.white {
  color: $white;
  p, h1, h2, h3, h4, h5 {
    color: $white;
  }
}

.red {
  color: $red !important;
  * {
    color: $red !important;
  }
}

.base {
  color: $base;
  * {
    color: $base;
  }
}

.black {
  color: $black;
  * {
    color: $black;
  }
}

.smoke-bg {
  background-color: $smoke;
}

#navigation {
  border-bottom: 1px solid $smoke;
  z-index: 10000;
}

#body-footer {
  position: relative;
  .navigaton-container {
    height: 230px;
    z-index: 1;
    background-image: url("/assets/zebra-black-bg-min.png");
  }
  #footer-navigation {
    position: absolute;
    z-index: 1000;
    top: 5%;
    width: 100%;
    a {
      color: $base;
      &:hover {
        color: $jumbo;
      }
    }
  }

  #copyrates {
    width: 100%;
    padding: rem-calc(22) 0;
    background-color: $black;
    border-top: 1px solid $charcoal;
    a {
      color: #5d5759;
      &:hover {
        color: $base;
      }
    }
  }
}

h3.logo {
  line-height: 1;
  a {
    color: $jumbo;
    text-transform: uppercase;
    font-size: rem-calc(20);
    .icon {
      font-size: rem-calc(40);
      &:before {
        vertical-align: middle;
      }
    }
  }
}

@media #{$large} {
  h3.logo {
    margin: rem-calc(20) auto;
    a {
      font-size: rem-calc(30);
      .icon {
        font-size: rem-calc(60);
        display: block;
      }
    }
  }
}

.italic {
  font-style: italic;
}

.form-section-title {
  font-size: rem-calc(12);
  font-style: italic;
  margin-top: 0.5rem;
}

input.input-valid, textarea.input-valid, select.input-valid {
  border-color: #84a65c;
}

input.checkbox[type=checkbox] {
  display: none;
  & + label {
    margin-bottom: 1rem;
  }
  & + label:before {
    font-family: "zebrains" !important;
    display: inline-block;
    min-width: 16px;
    min-height: 16px;
    border: 1px solid $gainsboro;
    line-height: 14px;
    background-color: $white;
    font-size: 14px;
    padding: 2px;
    content: "t";
    position: relative;
    top: 2px;
    margin-bottom: 10px;
    color: $white;
    transition: color 300ms ease-out;
  }
  &:checked + label:before {
    color: $red;
  }
}

//OVERRIDES

.button:active {
  background-color: $black;
  color: $white;
  border-color: $black;
}

::-webkit-input-placeholder {
  color: $oil;
}

::-moz-placeholder {
  color: $oil;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: $oil;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: $oil;
}

.error {
  input,
  textarea,
  select {
    border-color: $red !important;
    margin-bottom: 1rem;
    &:after {
      content: " ";
      width: 1px;
      height: 1px;
    }
  }
}

#{text-inputs(all, 'input')} {
  position: relative;
  padding: 0 rem-calc(23);
}

.inline-list {
  display: table;
  margin: 0 auto;
}

.label {
  text-transform: uppercase;
  letter-spacing: rem_calc(2);
}

button, .button {
  text-transform: uppercase;
  padding: $button-med ($button-med * 4) ($button-med) ($button-med * 4);
  letter-spacing: 0.1rem;
  &.secondary {
    background-color: $white;
    color: $black;
    &:hover {
      color: $white;
    }
  }
}

.progress > .meter {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent)
    );
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    z-index: 1;
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    background-size: 20px 20px;
    overflow: hidden;
  }
}

.top-bar {
  &.expanded {
    border-bottom: 3px solid $red;
    .top-bar__right-menu {
      #phone-link {
        width: 70%;
      }
      li {
        background: $white;
        float: left;
        &.divider {
          display: none;
        }
      }
    }
  }
  .name {
    padding-right: 40px;
    a {
      color: $black;
      font-family: $font-family-serif;
      .icon-zebrains {
        font-size: rem-calc(28);
        margin-top: -15px
      }
      .red {
        margin-left: rem-calc(15);
      }
      .icon {
        font-size: rem-calc(50);
      }
    }
  }
  .top-bar__navigation-links {
    li {
      text-align: center;
      &.active {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          height: 3px;
          background-color: $red;
          width: 60%;
          left: 20%;
        }
      }
    }
  }
  .top-bar__right-menu {
    li > a {
      font-size: rem-calc(15);
    }
  }
  #phone-link {
    a {
      color: $black;
      font-size: rem-calc(18);
      font-family: $font-family-serif;
      font-weight: bold;
      .icon-phone {
        color: $red;
        padding: 0 15px;
        font-size: rem-calc(15);
        vertical-align: top;
      }
    }
  }
}

.bullet-item {
  min-height: rem-calc(45);
}

.reveal-modal {
  h2 {
    margin-bottom: 20px;
  }
  .close-reveal-modal {
    transition: all .2s ease-in-out;
    font-family: $font-family-serif;
    &:hover {
      transform: scale(1.5);
    }
  }
}

.range-slider {
  margin: 0.3rem 0;
}

.range-slider-handle {
  font-size: 12px;
  color: $white;
  line-height: 1;
  text-align: center;
  var {
    font-size: 16px;
    font-style: normal;
  }
}

.zebra-bg {
  background: $smoke url(/assets/zebra-smoke-bg.png) no-repeat;
  background-size: cover;
}

.success {
  display: table;
  .row {
    display: table-cell;
    vertical-align: middle;
  }
}

.contacts {
  position: relative;
  padding-top: 0;
  padding-bottom: 1px;
  //padding: 0 !important;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0;
    z-index: 100;
  }

  /*#map-canvas, */
  .map-canvas {
    height: 485px;
    min-height: 470px;
    z-index: 1;
    display: none;

    &.active {
      display: inherit;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: 0;
      z-index: 100;
    }
  }

  #contacts-container {
    position: absolute;
    z-index: 1000;
    top: 5%;
    width: 100%;
    a {
      color: $base;
      &:hover {
        color: $jumbo;
      }
    }

    .contact-blocks {
      font-size: 14px;

      .contact-block {
        display: inline-block;
        width: 300px;
        height: auto;
        background-color: $black;
        padding: rem-calc(10);
        opacity: 0.8;
        margin-bottom: 10px;
      }
    }

    .show-on-map {
      color: $red;
      &.active {
        border-bottom: 1px solid #ffffff;
      }
    }
  }
}
