.file_upload {
  display: block;
  position: relative;
  overflow: hidden;
  @include form-element;
  & * {
    margin-top: -($form-spacing/2);
    line-height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
  }
  .icon {
    display: block;
    cursor: pointer;
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    background: transparent;
    font-size: rem-calc(25);
  }
  &>mark{
    display: block;
    cursor: pointer;
    background: transparent;     /* example */
    padding-left: 1em;
  }
  input[type=file]{
    position: absolute;
    top: 0;
    opacity: 0
  }
}


.file_upload.focus{
  border-color: $black;
}

.file_upload:hover .icon{
  color: $red;
}
.file_upload:active .icon{
  color: $red;
}
