@charset "UTF-8";

@font-face {
  font-family: "zebrains";
  src:font-url("zebrains.eot");
  src:font-url("zebrains.eot?#iefix") format("embedded-opentype"),
    font-url("zebrains.woff") format("woff"),
    font-url("zebrains.ttf") format("truetype"),
    font-url("zebrains.svg#zebrains") format("svg");
  font-weight: normal;
  font-style: normal;

}

.icon {
  display: inline-block;
  vertical-align: middle;
}

[data-icon]:before {
  font-family: "zebrains" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "zebrains" !important;
  vertical-align: middle;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-case:before {
  content: "a";
}
.icon-coding:before {
  content: "b";
}
.icon-design:before {
  content: "c";
}
.icon-dialog:before {
  content: "d";
}
.icon-zebrains:before {
  content: "f";
}
.icon-work:before {
  content: "g";
}
.icon-verification:before {
  content: "h";
}
.icon-facebook:before {
  content: "i";
}
.icon-google:before {
  content: "j";
}
.icon-mark:before {
  content: "k";
}
.icon-mouse:before {
  content: "l";
}
.icon-performance:before {
  content: "m";
}
.icon-phone:before {
  content: "n";
}
.icon-promo:before {
  content: "o";
}
.icon-statement:before {
  content: "p";
}
.icon-twitter:before {
  content: "q";
}
.icon-less:before {
  content: "e";
}
.icon-angle-right:before {
  content: "r";
}
.icon-currency-rubles:before {
  content: "s";
}
.icon-check:before {
  content: "t";
}
.icon-cloud-upload:before {
  content: "u";
}
.icon-skype:before {
  content: "v";
}

.icon-telegram:before {
  content: "w"
}