//FIRST SECTION
section {
  padding-bottom: 20px;
}

.zebra-road-bg {
  position: relative;
  padding-top: 5%;
  background: url(/assets/zebra-road-bg-min.png) no-repeat fixed;
  background-size: cover;
  min-height: 560px;
  h1 {
    font-size: 5vw;
  }
  .button:hover {
    background-color: transparent;
    color: $white;
  }
  #scroll-down {
    position: absolute;
    bottom: 5%;
    width: 100%;
    a {
      letter-spacing: 0.1rem;
      color: $white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 0.75rem;
      .icon-mouse {
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        font-size: 2rem;
        &:before {
          vertical-align: middle;
        }
      }
    }
  }

  .get-btn-container {
    width: 100%;
    height: 130px;
    position: absolute;
    bottom: 40px;
    left: 0;
    overflow: hidden;

    .get-btn-block {
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin: -125px 0 0 -125px;
    }
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

//price block
@mixin price($size) {
  .price {
    margin: rem-calc($size/3.2) auto;
    .price__block {
      display: inline-block;
      vertical-align: top;
    }
    .price__text {
      height: rem-calc($size/2.3);
      line-height: rem-calc($size/2);
    }
    @each $name, $size in (small: $size/4, big: $size/2.6) {
      .price__text--#{$name} {
        font-size: rem-calc($size);
      }
    }
    .price__cost {
      font-size: rem-calc($size);
      display: inline-block;
      vertical-align: middle;
      line-height: rem-calc($size/1.1);
      font-weight: bold;
      letter-spacing: -2px;
    }
    .price__cost--free {
      font-size: rem-calc($size/1.6);
    }
  }
}

@media #{$medium-up} {
  @include price(80);
}

@media #{$small-only} {
  @include price(60);
}

.who-we-are {
  .activities {
    margin: rem-calc(50) auto;
    a {
      font-size: rem-calc(20);
      font-weight: bold;
      color: $black;
      text-transform: uppercase;
      .icon {
        color: $red;
        font-size: rem-calc(60);
      }
    }
  }
}

@mixin sla-item($sla-size) {
  .sla-item {
    height: rem-calc($sla-size);
    margin: rem-calc($sla-size/4);
    .sla-item__descr {
      display: inline-block;
      margin-left: rem-calc($sla-size/4);
      color: $white;
    }
    .sla-item__value {
      .icon {
        line-height: 1;
        font-size: rem-calc($sla-size/2);
        vertical-align: bottom;
        margin-bottom: rem-calc($sla-size/10);
      }
      color: $red;
      font-size: rem-calc($sla-size);
      display: inline-block;
      line-height: rem-calc($sla-size);
      position: relative;
      font-weight: bold;
      .sla-item__value--zero {
        vertical-align: top;
        display: inline-block;
        height: rem-calc($sla-size/2);
        overflow: hidden;
      }
      .sla-item__value--min {
        font-weight: normal;
        font-size: rem-calc($sla-size/3);
        line-height: rem-calc($sla-size/3);
        position: absolute;
        bottom: rem-calc($sla-size/10);
        left: rem-calc($sla-size+$sla-size/20);
      }
    }
  }
}

.technology {
  padding-bottom: 2rem;
  .we_can_section {
    .we_can_logo {
      min-height: rem-calc(90);
      margin-top: rem-calc(5);
      background-size: contain;
      background-position: bottom;
      background-repeat: no-repeat;
      font-size: rem-calc(13);
    }
  }
}

@media #{$large} {
  .technology {
    background: $smoke url(/assets/zebra-black-bg-min.png) no-repeat;
    background-size: 67% 100%;
    .sla-block {
      background: none;
    }
    @include sla-item(80);
  }
}

@media #{$medium-only} {
  .technology {
    padding-top: 0;
    background: $smoke;
    .sla-block {
      background: $smoke url(/assets/zebra-black-bg-min.png) no-repeat;
      padding: rem-calc(45) 0;
    }
  }
  @include sla-item(60);
}

@media #{$small-only} {
  .technology {
    padding-top: 0;
    background: $smoke;
    .sla-block {
      background: $smoke url(/assets/zebra-black-bg-min.png) no-repeat;
      padding: rem-calc(45) 0;
    }
  }
  @include sla-item(40);
}

.how-we-work {
  .ticket-steps {
    .ticket-step {
      padding: 1rem;
      .icon {
        color: $red;
        font-size: rem-calc(50);
      }
      .icon-angle-right {
        position: absolute;
        right: -$column-gutter/2;
        color: $smoke;
        top: 0;
      }
      h3 {
        font-size: rem-calc(15);
        text-transform: uppercase;
        font-family: $font-family-sans-serif;
      }
    }
  }
}

.our-capacity {
  background-color: $red;
  color: $white;
  .hours-for-sale {
    margin-bottom: rem-calc(10);
    font-weight: bold;
    font-size: rem-calc(50);
    span {
      display: inline-block;
      font-size: rem-calc(13);
    }
  }
  .progress {
    margin: rem-calc(5) 0;
  }
}

.our-plans {
  .recomended {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

#quote_request_description {
  height: 120px;
  min-height: 120px;
  max-height: 300px;
}

.column-text {
  text-align: center;
}

.about_company {
  .our_friends_logo {
    min-height: rem-calc(160);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .slider {
    margin: 20px auto;
    text-align: center;

    .slick-slide {
      opacity: .7;
    }

    .slick-current {
      opacity: 1;
    }

    .slick-center {
      padding-left: 1px;
      padding-right: 1px;
      opacity: 1;
    }
  }

  .slick-prev, .slick-next {
    border: medium none;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 40px;
    line-height: 0;
    margin-top: -10px;
    outline: medium none;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 40px;
    z-index: 100000000;
    opacity: .5;
  }

  .slick-prev {
    border-radius: 50%;
    background: url('/assets/arrow-min.png') 50% 50% no-repeat;
    background-size: cover;
    transform: rotate(180deg);
  }

  .slick-next {
    right: 4px;
    border-radius: 50%;
    background: url('/assets/arrow.png') 50% 50% no-repeat;
    background-size: cover;
  }

  .last-line {
    padding-bottom: 20px;
  }
}

.messenger-icon {
  //height: 110px;
}

.we-are {
  background-color: $smoke;
  color: $black;
}
