.services {
  h2 {
    font-size: rem-calc(50);
    position: relative;
    &:after {
      content: "";
      position:absolute;
      bottom: 0;
      height: 3px;
      background-color: $red;
      width: 60px;
      left: 0;
    }
  }
  .service-image {
    width: 100%;
  }

  @media #{$large-only} {
    .service-image {
      margin-top: -65px;
    }
  }
}