.navigaton-container
#footer-navigation
  .row
    .large-12.text-center
      %h3.logo
        =link_to root_path do
          %i.icon.icon-zebrains
          Zebrains
    .large-12.columns.text-center
      %ul.inline-list
        = render 'layouts/navigation_links'
#copyrates
  .row
    .large-4.columns.text-center.large-text-left
      %small
        &copy;
        = Date.today.year
        Zebrains company
    .large-4.columns.text-center
      %ul.inline-list
        %li
          =link_to "https://www.facebook.com/ITECH.group", target:"_blank" do
            %i.icon.icon-facebook
        %li
          =link_to "http://twitter.com/#!/ITECH_group", target:"_blank" do
            %i.icon.icon-twitter
        %li
          =link_to "https://plus.google.com/u/0/110500128245427285169/posts?cfem=1", target:"_blank" do
            %i.icon.icon-google
        %li
          =link_to "skype:zebrains.com?chat", target:"_blank" do
            %i.icon.icon-skype
        %li
          = link_to "http://telegram.me/zebrains", target:"_blank" do
            %i.icon.icon-telegram
    .large-4.columns.text-center.large-text-right
      =link_to contact_us_path do
        %small
          =t 'navigation_links.feedback'