%title= content_for?(:title) ? yield(:title) : "ZeBrains"
%meta{:name => "title", :content => "#{content_for?(:title) ? yield(:title) : t("meta.title")}"}
%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : t("meta.description")}"}


%meta{:name => "google-site-verification", :content => "tEA6KmjP-XvR3jFIEFvktwboTnrBAye2gfL6AvALA1s"}
%meta{:name => 'yandex-verification', :content => '6e2491722262e464'}

%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

= csrf_meta_tags

= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true

-# Modernizr is required for Zurb Foundation
= javascript_include_tag "vendor/modernizr"
= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp"
= javascript_include_tag "application", "data-turbolinks-track" => true

= favicon_link_tag "/icon/apple-icon-57x57.png", rel: "apple-touch-icon", sizes: "57x57"
= favicon_link_tag "/icon/apple-icon-60x60.png", rel: "apple-touch-icon", sizes: "60x60"
= favicon_link_tag "/icon/apple-icon-72x72.png", rel: "apple-touch-icon", sizes: "72x72"
= favicon_link_tag "/icon/apple-icon-76x76.png", rel: "apple-touch-icon", sizes: "76x76"
= favicon_link_tag "/icon/apple-icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114"
= favicon_link_tag "/icon/apple-icon-120x120.png", rel: "apple-touch-icon", sizes: "120x120"
= favicon_link_tag "/icon/apple-icon-144x144.png", rel: "apple-touch-icon", sizes: "144x144"
= favicon_link_tag "/icon/apple-icon-152x152.png", rel: "apple-touch-icon", sizes: "152x152"
= favicon_link_tag "/icon/apple-icon-180x180.png", rel: "apple-touch-icon", sizes: "180x180"

= favicon_link_tag "/icon/android-icon-192x192.png", rel: "icon", sizes: "192x192", type: "image/png"
= favicon_link_tag "/icon/favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png"
= favicon_link_tag "/icon/favicon-96x96.png", rel: "icon", sizes: "96x96", type: "image/png"
= favicon_link_tag "/icon/favicon-16x16.png", rel: "icon", sizes: "16x16", type: "image/png"

%link{:rel => "manifest", :href => "/icon/manifest.json"}
%meta{:name => "msapplication-TileColor", :content => "#ffffff"}
%meta{:name => "msapplication-TileImage", :content => "/icon/ms-icon-144x144.png"}
%meta{:name => "theme-color", :content => "#ffffff"}
