#navigation.contain-to-grid{"data-magellan-expedition" => ""}
  %nav.top-bar{"data-topbar" => true, "role" => "navigation"}
    %ul.title-area
      %li.name
        = link_to root_path do
          %i.icon.icon-zebrains>
          %span.red>ZE
          %span>BRAINS
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span
            Menu
    %section.top-bar-section
      %ul.left.top-bar__navigation-links
        %li{"data-magellan-arrival" => "zebra-road-bg"}
          %a{"href" => "#"}
            =t "navigation_links.home"
        %li{"data-magellan-arrival" => "what-we-do"}
          %a{"href" => "#what-we-do"}
            =t "navigation_links.what_we_do"
        %li{"data-magellan-arrival" => "technology"}
          %a{"href" => "#technology"}
            =t "navigation_links.about"
        -#%li{"data-magellan-arrival" => "why-you-need"}
        -#  %a{"href" => "#why-you-need"}
        -#    =t "navigation_links.why_you_need"
        -#%li
        -#  %a{:href => "#", "data-reveal-id" => "troppus-login"}
        -#    =t "navigation_links.client_area"
        %li{"data-magellan-arrival" => "contacts"}
          %a{"href" => "#contacts"}
            =t "navigation_links.contacts"
        = active_link_to new_quote_request_path, wrap_tag: "li", class: "red" do
          =t "navigation_links.get_quote"
      %ul.right.top-bar__right-menu
        %li#phone-link
          = link_to "tel:+79278203777" do
            %i.icon.icon-phone<
            +7 (927) 820-37-77
        %li{class: ("active" if I18n.locale == :en)}
          = link_to "En", url_for('http://zebrains.com')
        %li.divider
        %li{class: ("active" if I18n.locale == :ru)}
          = link_to "Ru", url_for('http://zebrains.ru')

