#navigation.contain-to-grid{:class => local_assigns[:sticky] ? "sticky" : "fixed" }
  %nav.top-bar{"data-topbar" => true, "role" => "navigation"}
    %ul.title-area
      %li.name
        = link_to root_path do
          %i.icon.icon-zebrains>
          %span.red>ZE
          %span>BRAINS
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span
            Menu
    %section.top-bar-section
      %ul.left.top-bar__navigation-links
        = render 'layouts/navigation_links'
      %ul.right.top-bar__right-menu
        %li#phone-link
          = link_to "tel:+79278203777" do
            %i.icon.icon-phone<
            +7 (927) 820-37-77
        %li{class: ("active" if I18n.locale == :en)}
          = link_to "En", url_for('http://zebrains.com')
        %li.divider
        %li{class: ("active" if I18n.locale == :ru)}
          = link_to "Ru", url_for('http://zebrains.ru')
