= active_link_to root_path(:anchor => ""), :active => [["page"], ["index"]], wrap_tag: "li" do
  =t "navigation_links.home"
= active_link_to root_path(:anchor => "what-we-do"), :active => [["page"], ["index"]],  wrap_tag: "li" do
  =t "navigation_links.what_we_do"
= active_link_to root_path(:anchor => "technology"), :active => [["page"], ["index"]], wrap_tag: "li" do
  =t "navigation_links.about"
-#= active_link_to root_path(:anchor => "why-you-need"), :active => [["page"], ["index"]], wrap_tag: "li" do
-#  =t "navigation_links.why_you_need"
= active_link_to root_path(:anchor => "contacts"), :active => [["page"], ["index"]], wrap_tag: "li" do
  =t "navigation_links.contacts"
-#%li
-#  %a{:href => "#", "data-reveal-id" => "troppus-login"}
-#    =t "navigation_links.client_area"
= active_link_to new_quote_request_path, wrap_tag: "li", class: "red" do
  =t "navigation_links.get_quote"

