!!!
%html{"lang" => I18n.locale}
  %head
    = render "layouts/head"
  %body
    %header
      = content_for?(:navigation) ? yield(:navigation) : render("layouts/navigation")
    %main#main{:role => "main"}
      = render "layouts/messages"
      = yield
      %footer#body-footer.full-width
        = content_for?(:footer) ? yield(:footer) : render("layouts/footer")
    -##troppus-login.reveal-modal.text-center{"data-reveal" => true, "aria-labelledby" => "troppus-login-title", "aria-hidden" => true, "role" => "dialog"}
    -#  %h2#troppus-login-title
    -#    =t :troppus_login_title
    -#
    -#  =simple_form_for :troppus_login, url: "http://troppus.ru"  do |f|
    -#    .row
    -#      .large-10.large-centered.columns.text-left
    -#        =f.input :email, required: false, placeholder: t(:email_mask)
    -#        =f.input :password, as: :password, required: false, placeholder: t(:password_mask)
    -#    .row
    -#      .large-10.large-centered.columns.text-center
    -#        =f.submit t(:login_button), class: 'button'
    -#        %br
    -#        =link_to t(:forgot_passoword_button), "http://troppus.ru"
    -#  %a.close-reveal-modal{"aria-label" => "Close"}
    -#    &#215;

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61726838-2', 'auto');
      ga('send', 'pageview');